@layout DashBoardLayout
@page "/dashboard/components/alert"

<div class="components">

	<div>
		<div class="components__title">Alert</div>
		<div class="components-list">
			<div>
				<div class="components__text">Primary Basic</div>
				<div class="alert alert--primary alert--purple alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--gray alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--yellow alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--green alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--red alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--blue alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
			</div>
			<div>
				<div class="components__text">Primary With Close</div>
				<div class="alert alert--primary alert--purple alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--primary alert--gray alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--primary alert--yellow alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--primary alert--green alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--primary alert--red alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--primary alert--blue alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
			</div>
			<div>
				<div class="components__text">Primary Only Text</div>
				<div class="alert alert--primary alert--purple alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--gray alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--yellow alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--green alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--red alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--primary alert--blue alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary Basic</div>
				<div class="alert alert--secondary alert--purple alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--gray alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--yellow alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--green alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--red alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--blue alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary With Close</div>
				<div class="alert alert--secondary alert--purple alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--gray alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--yellow alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--green alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--red alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
				<div class="alert alert--secondary alert--blue alert-sample">
					<div class="alert__icon"><span class="material-icons">warning</span></div>
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
					<div class="alert__close"><span class="material-icons">close</span></div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary Only Text</div>
				<div class="alert alert--secondary alert--purple alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--secondary alert--gray alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--secondary alert--yellow alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--secondary alert--green alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--secondary alert--red alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
				<div class="alert alert--secondary alert--blue alert-sample">
					<div class="alert-info">
						<div class="alert__title">I'm an alert with primary background color.!</div>
						<div class="alert__subtitle">I'm an alert with primary background color.!</div>
						<div class="alert__text">I'm an alert with primary background color.!</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>