@layout DashBoardLayout
@page "/dashboard/components/avatar"

<div class="components">

	<div>
		<div class="components__title">Avatar</div>
		<div class="components-list">
			<div>
				<div class="components__text">Primary Basic</div>
				<div class="avatar avatar--primary avatar--purple"><div class="avatar__text">PR</div></div>
				<div class="avatar avatar--primary avatar--gray"><div class="avatar__text">LI</div></div>
				<div class="avatar avatar--primary avatar--yellow"><div class="avatar__text">SH</div></div>
				<div class="avatar avatar--primary avatar--green"><div class="avatar__text">SU</div></div>
				<div class="avatar avatar--primary avatar--red"><div class="avatar__text">PR</div></div>
				<div class="avatar avatar--primary avatar--blue"><div class="avatar__text">SR</div></div>
			</div>
			<div>
				<div class="components__text">Primary Icon</div>
				<div class="avatar avatar--primary avatar--purple"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--primary avatar--gray"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--primary avatar--yellow"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--primary avatar--green"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--primary avatar--red"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--primary avatar--blue"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
			</div>
			<div>
				<div class="components__text">Primary Img</div>
				<div class="avatar avatar--primary avatar--purple"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--primary avatar--gray"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--primary avatar--yellow"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--primary avatar--green"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--primary avatar--red"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--primary avatar--blue"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
			</div>
			<div>
				<div class="components__text">Secondary Basic</div>
				<div class="avatar avatar--secondary avatar--purple"><div class="avatar__text">PR</div></div>
				<div class="avatar avatar--secondary avatar--gray"><div class="avatar__text">LI</div></div>
				<div class="avatar avatar--secondary avatar--yellow"><div class="avatar__text">SH</div></div>
				<div class="avatar avatar--secondary avatar--green"><div class="avatar__text">SU</div></div>
				<div class="avatar avatar--secondary avatar--red"><div class="avatar__text">PR</div></div>
				<div class="avatar avatar--secondary avatar--blue"><div class="avatar__text">SR</div></div>
			</div>
			<div>
				<div class="components__text">Secondary Icon</div>
				<div class="avatar avatar--secondary avatar--purple"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--secondary avatar--gray"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--secondary avatar--yellow"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--secondary avatar--green"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--secondary avatar--red"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
				<div class="avatar avatar--secondary avatar--blue"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
			</div>
			<div>
				<div class="components__text">Secondary Img</div>
				<div class="avatar avatar--secondary avatar--purple"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--secondary avatar--gray"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--secondary avatar--yellow"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--secondary avatar--green"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--secondary avatar--red"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
				<div class="avatar avatar--secondary avatar--blue"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
			</div>
			<div>
				<div class="components__text">Primary Group Basic</div>
				<div class="avatar-group">
					<div class="avatar avatar--primary avatar--purple"><div class="avatar__text">PR</div></div>
					<div class="avatar avatar--primary avatar--gray"><div class="avatar__text">LI</div></div>
					<div class="avatar avatar--primary avatar--yellow"><div class="avatar__text">SH</div></div>
					<div class="avatar avatar--primary avatar--green"><div class="avatar__text">SU</div></div>
					<div class="avatar avatar--primary avatar--red"><div class="avatar__text">PR</div></div>
					<div class="avatar avatar--primary avatar--blue"><div class="avatar__text">SR</div></div>
					<div class="avatar__text">+3 more</div>
				</div>
			</div>
			<div>
				<div class="components__text">Primary Group Icon</div>
				<div class="avatar-group">
					<div class="avatar avatar--primary avatar--purple"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--primary avatar--gray"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--primary avatar--yellow"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--primary avatar--green"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--primary avatar--red"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--primary avatar--blue"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar__text">+3 more</div>
				</div>
			</div>
			<div>
				<div class="components__text">Primary Group Img</div>
				<div class="avatar-group">
					<div class="avatar avatar--primary avatar--purple"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--primary avatar--gray"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--primary avatar--yellow"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--primary avatar--green"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--primary avatar--red"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--primary avatar--blue"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar__text">+3 more</div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary Group Basic</div>
				<div class="avatar-group">
					<div class="avatar avatar--secondary avatar--purple"><div class="avatar__text">PR</div></div>
					<div class="avatar avatar--secondary avatar--gray"><div class="avatar__text">LI</div></div>
					<div class="avatar avatar--secondary avatar--yellow"><div class="avatar__text">SH</div></div>
					<div class="avatar avatar--secondary avatar--green"><div class="avatar__text">SU</div></div>
					<div class="avatar avatar--secondary avatar--red"><div class="avatar__text">PR</div></div>
					<div class="avatar avatar--secondary avatar--blue"><div class="avatar__text">SR</div></div>
					<div class="avatar__text">+3 more</div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary Group Icon</div>
				<div class="avatar-group">
					<div class="avatar avatar--secondary avatar--purple"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--secondary avatar--gray"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--secondary avatar--yellow"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--secondary avatar--green"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--secondary avatar--red"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar avatar--secondary avatar--blue"><div class="avatar__icon"><span class="material-icons">person</span></div></div>
					<div class="avatar__text">+3 more</div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary Group Img</div>
				<div class="avatar-group">
					<div class="avatar avatar--secondary avatar--purple"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--secondary avatar--gray"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--secondary avatar--yellow"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--secondary avatar--green"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--secondary avatar--red"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar avatar--secondary avatar--blue"><div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div></div>
					<div class="avatar__text">+3 more</div>
				</div>
			</div>
			<div>
				<div class="components__text">Dot</div>
				<div class="avatar avatar--primary avatar--purple">
					<div class="avatar__text">PR</div>
					<div class="avatar-alarm">
						<div class="avatar-alarm__num avatar-alarm__num--purple">0</div>
					</div>
				</div>
				<div class="avatar avatar--primary avatar--gray">
					<div class="avatar__icon"><span class="material-icons">person</span></div>
					<div class="avatar-alarm">
						<div class="avatar-alarm__dot avatar-alarm__dot--gray"></div>
					</div>
				</div>
				<div class="avatar avatar--primary avatar--yellow">
					<div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div>
					<div class="avatar-alarm">
						<div class="avatar-alarm__num avatar-alarm__num--yellow">0</div>
					</div>
				</div>
				<div class="avatar avatar--secondary avatar--green">
					<div class="avatar__text">SU</div>
					<div class="avatar-alarm">
						<div class="avatar-alarm__dot avatar-alarm__dot--green"></div>
					</div>
				</div>
				<div class="avatar avatar--secondary avatar--red">
					<div class="avatar__icon"><span class="material-icons">person</span></div>
					<div class="avatar-alarm">
						<div class="avatar-alarm__num avatar-alarm__num--red">0</div>
					</div>
				</div>
				<div class="avatar avatar--secondary avatar--blue">
					<div class="avatar__img"><img src="https://dash-tail.vercel.app/_next/static/media/avatar-1.f70409c3.jpg" /></div>
					<div class="avatar-alarm">
						<div class="avatar-alarm__dot avatar-alarm__dot--blue"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>