@layout DashBoardLayout
@page "/dashboard/components/badges"

<div class="components">

	<div>
		<div class="components__title">Badges</div>
		<div class="components-list">
			<div>
				<div class="components__text">Primary Basic</div>
				<div class="badges badges--primary badges--purple">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Purple</div>
				</div>
				<div class="badges badges--primary badges--gray">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Gray</div>
				</div>
				<div class="badges badges--primary badges--yellow">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Yellow</div>
				</div>
				<div class="badges badges--primary badges--green">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Green</div>
				</div>
				<div class="badges badges--primary badges--red">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Red</div>
				</div>
				<div class="badges badges--primary badges--blue">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Blue</div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary Basic</div>
				<div class="badges badges--secondary badges--purple">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Purple</div>
				</div>
				<div class="badges badges--secondary badges--gray">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Gray</div>
				</div>
				<div class="badges badges--secondary badges--yellow">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Yellow</div>
				</div>
				<div class="badges badges--secondary badges--green">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Green</div>
				</div>
				<div class="badges badges--secondary badges--red">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Red</div>
				</div>
				<div class="badges badges--secondary badges--blue">
					<div class="badges__icon"><span class="material-icons">star</span></div>
					<div class="badges__text">Blue</div>
				</div>
			</div>
		</div>
	</div>

</div>