@layout DashBoardLayout
@page "/dashboard/components/breadcrumb"

<div class="components">

	<div>
		<div class="components__title">Breadcrumb</div>
		<div class="components-list">
			<div>
				<div class="components__text">Basic</div>
				<div class="breadcrumb">
					<div>
						<div class="breadcrumb__text">Dashboard</div>
					</div>
					<div>
						<div class="breadcrumb__text">Advanced UI</div>
					</div>
					<div>
						<div class="breadcrumb__icon"><span class="material-icons">star</span></div>
						<div class="breadcrumb__text">Component</div>
					</div>
					<div>
						<div class="breadcrumb__icon"><span class="material-icons">star</span></div>
						<div class="breadcrumb__text">Breadcrumb</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>