@layout DashBoardLayout
@page "/dashboard/components/button"

<div class="components">

	<div>
		<div class="components__title">Button</div>
		<div class="components-list">
			<div>
				<div class="components__text">Primary Basic</div>
				<div class="button button--primary button--purple button--left">
					<div class="button__icon"><span class="material-icons">star</span></div>
					<div class="button__text">Purple</div>
				</div>
				<div class="button button--primary button--gray button--center">
					<div class="button__icon"><span class="material-icons">star</span></div>
					<div class="button__text">Gray</div>
				</div>
				<div class="button button--primary button--yellow button--right">
					<div class="button__icon"><span class="material-icons">star</span></div>
					<div class="button__text">Yellow</div>
				</div>
				<div class="button button--primary button--green button--left">
					<div class="button__text">Green</div>
					<div class="button__icon"><span class="material-icons">star</span></div>
				</div>
				<div class="button button--primary button--red button--center">
					<div class="button__text">Red</div>
					<div class="button__icon"><span class="material-icons">star</span></div>
				</div>
				<div class="button button--primary button--blue button--right">
					<div class="button__text">Blue</div>
					<div class="button__icon"><span class="material-icons">star</span></div>
				</div>
			</div>
			<div>
				<div class="components__text">Secondary Basic</div>
				<div class="button button--secondary button--purple button--left">
					<div class="button__icon"><span class="material-icons">star</span></div>
					<div class="button__text">Purple</div>
				</div>
				<div class="button button--secondary button--gray button--center">
					<div class="button__icon"><span class="material-icons">star</span></div>
					<div class="button__text">Gray</div>
				</div>
				<div class="button button--secondary button--yellow button--right">
					<div class="button__icon"><span class="material-icons">star</span></div>
					<div class="button__text">Yellow</div>
				</div>
				<div class="button button--secondary button--green button--left">
					<div class="button__text">Green</div>
					<div class="button__icon"><span class="material-icons">star</span></div>
				</div>
				<div class="button button--secondary button--red button--center">
					<div class="button__text">Red</div>
					<div class="button__icon"><span class="material-icons">star</span></div>
				</div>
				<div class="button button--secondary button--blue button--right">
					<div class="button__text">Blue</div>
					<div class="button__icon"><span class="material-icons">star</span></div>
				</div>
			</div>
		</div>
	</div>

</div>