<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/web.min.css" />
	@* <link rel="stylesheet" href="WebApp.styles.css" /> *@
	<link rel="icon" type="image/png" href="favicon.png" />
	<script type="text/javascript" src="/js/web.js"></script>
	<HeadOutlet />
</head>

<body>
	<Routes />
	<script src="_framework/blazor.web.js"></script>
</body>

</html>
